/*
 * popOver
 */
.webdataview .popover {
  border: none;
  z-index: 10000 !important;
}
.webdataview .arrow {
  opacity: 0;
}
.webdataview .popover-title {
  display: none;
}

/*
 * font path
 */
@font-face {
  font-family: 'Proxima Nova Alt Regular';
  src: url("chrome-extension://__MSG_@@extension_id__/assets/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Thin';
  src: url("chrome-extension://__MSG_@@extension_id__/assets/fonts/Mark Simonson - Proxima Nova Thin-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
