.gridView {
    margin: 20px 30px;
    font-size: 13px;
    font-family: 'Open Sans', Helvetica, Arial;
}

a {
    color: #34A9DC;
    text-decoration: none;
}

p {
    margin: 5px 0 20px;
}

h2 {
    margin: 20px 0 0;
    font-size: 18px;
    font-weight: normal;
}